/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #d18b8b;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.choices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.choice {
    width: 100px;
    height: 100px;
    background-color: #ff4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
}

.score {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 90px;
    height: 40px;
    background-color: #4dff4d;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3bd13b;
}
